* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  border: 1.5px solid #5f9341;
  padding: 4px 10px;
  width: 100%;
  margin-bottom: 8px;
}

button {
  color: white;
  background-color: #5f9341;
  padding: 6px;
  width: 100px;
  border: 1.5px solid #5f9341;
  font-weight: bold;
}

#delete-btn {
  color: #5f9341;
  background-color: white;
  border: 1.5px solid #5f9341;
}

ul {
  padding: 12px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #5f9341;
}
